<ion-view hide-nav-bar="false">

  <ion-nav-buttons side="left">
      <a ng-if="data.poi != null" ng-click="goPoi()"  class="generic-back-button button button-icon icon ion-ios-world-outline generic-button-bar"></a>
      <h1 class="title">
      <img id="menu-logo" ng-src="img/menu_icon.png"></img></h1>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a ng-click="showMainMenu()" class="generic-back-button button button-icon icon ion-navicon-round generic-button-bar"></a>
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <h4 class="title">{{data.labels.title}}</h4>
  </div>

  <ion-content id="viewProgetti" scroll="true" padding="false" class="has-header has-subheader">

      <ion-list>

          <ion-item ng-repeat="Testata in data.testate" class="rivista" style="overflow:visible;" ng-click="clickOnItem(Testata)">

              <div class="rivista_dtl" ion-img-cache-bg style="background-image:url({{Testata.backgroundLastNumber}});">
                  <div class="rivista_descr">{{Testata.nomeTestata}}</div>
                  <div ng-show="Testata.utentiTestata != 0" class="progetto_users"><i class="fa fa-users" style="font-size: 0.80em;"></i><span style="font-size: 0.94em;padding: 0px 0px 0px 3px;">{{Testata.utentiTestata}}</span></div>
              </div>

          </ion-item>
      </ion-list>

  </ion-content>

</ion-view>



