#viewNavigazioneProgetti .progetto {

    float:left;
    border: solid 1px gray;
    height:200px;
    width:42%;
    padding:1px;
    margin:11px;

}

#viewNavigazioneProgetti .progetto_descr {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right:0px;
  text-align:center;
  letter-spacing: -1px;
  background-color: rgba(0,0,0,0.7);
  color:white !important;
  border-top: solid 1px white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#viewNavigazioneProgetti .progetto_dtl {
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center center;
  background-color: rgba(220, 222, 205, 0.41);
  padding:0px;
  margin:0px;
  pointer-events: none;
  text-decoration:none !important;
  color:inherit;  
}

#viewNavigazioneProgetti {
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
}

#viewNavigazioneProgetti .unpublished {

  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:30px;
  color:red;
  padding:3px;
  background-color: rgba(100,100,100,0.5);
}

#viewNavigazioneProgetti .progetto_users {

    position: absolute;
    top: -9px;
    right: -10px;
    color: white;
    padding: 0px 5px 0px 7px;
    background-color: #052ad7;
    border-radius: 6px;
    border: 1px solid white;
    font-family: sans-serif;
    font-size: 0.85em;
}

@media (min-width:750px) {

  #viewNavigazioneProgetti .progetto {

      width: 43%;
      height:600px;
      margin: 25px;

  }

}


